<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Todos</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav>
        <a asp-area="" asp-controller="Todo" asp-action="Index">My Todos</a>
        <a asp-area="" asp-controller="Account" asp-action="EditAccount">Edit Account</a>
        <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
    </nav>
    <div class="container">
        <main role="main" class="todo-main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2021 - Todo MVC App In < 8 Hours - <a asp-area="" asp-controller="Todo" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>
