@model UserModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>@User.Identity.Name</h2>
</div>
@await Html.PartialAsync("_CreateTodo.cshtml", new TodoModel())

@foreach (var todo in Model.Todos)
{
    <div>
        <p>@todo.Message</p>
    </div>
}
