
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form>
    <input type="text" class="footer-signup-input" id="First_Name" placeholder="First Name" contenteditable="true" required />
    <input type="text" class="footer-signup-input" id="Last_Name" placeholder="Last Name" contenteditable="true" required />
    <input type="email" class="footer-signup-input" id="Email_address" placeholder="Email address" contenteditable="true" required />
    <input type="password" class="footer-signup-input" id="Password" placeholder="A New Password" contenteditable="true" required />
    <div style="display: inline-block;">
        <button type="submit">Create Account</button>
    </div>
</form>

