* {
    box-sizing: border-box;
}

html {
    position: relative;
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-color: hsl(240, 0%, 12%);
    margin: 0;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
nav {
    display: inline-block;
    width: 100%;
    background-color: yellow;
}
nav a {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
}
nav a:hover {
    color: yellow;
    background-color: black;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    white-space: nowrap;
    line-height: 60px;
}
.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}
.account-main {
    width: 758px;
    background-image: linear-gradient(to bottom right, hsl(65, 100%, 50%) 25%, hsl(45, 100%, 45%));
    padding: 40px;
    border-radius: 40px;
}

.todo-main {
    background-color: white;
}
